<!-- footer.html -->
<div class="footer" th:fragment="footerFragment">
  <div class="footer-container">
    <div class="footer-info">
      <p>대표 : 남경태 | 사업자등록번호 : 802002-04-185062</p>
      <p>주소 : 서울시 양천구 목4동 444-44 4층</p>
      <p>@XTRA All rights reserved.</p>
    </div>
    <div class="footer-links">
      <a href="https://nozomi.la">개인회원 FAQ</a>
      <a href="https://nozomi.la">기업회원 FAQ</a>
      <a href="https://nozomi.la">1:1 문의</a>
    </div>
    <div class="footer-contact">
      <h3>고객센터</h3>
      <p>1588-6969</p>
      <p>운영시간: 월~금 09:00 ~ 15:00 | 주말 15:00 ~ 17:00</p>
      <p>Email: geonwoo1098@gmail.com</p>
      <p>팩스: 02-696-7474</p>
    </div>
  </div>
</div>
